---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
---

<Layout title="Rhythm Nation Blog">
	
	<!--Usamos componente -->
	<Main>

		<!--Usamos componente -->
		<H1 text='Rhythm Nation'/>
		
	</Main>
</Layout>

